body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #ffffff;
    margin: 0;
    padding 0;
}

#game-container {
    max-width:
    margin:
    background-color: 
    padding:
    box-shadow

}
 
h1 {
    color: #333;

}

button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;

}

button:hover {
    background-color: #45a049
}

u1 {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049
}

#timer {
    font-size: 18px;
    color: #333
}

#result {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}